//color
$dark: #212529;
$grey: #6C757D; 
$red: #72312F;
$mid: #D4C083;
$light: #ffffff;

//fonts
$body-font: 'asap_condensedregular', sans-serif;
$title-font: 'quicksandbold', sans-serif;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background-color: $red;
    height: 100%;
}

main {
    @include flex-column;
    height: 100vh;
    justify-content: space-between;
}

.result {
    @include flex-column;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    min-height: 10em;
    
    .dice,
    .number {
        color: $mid;
        font-family: $body-font;
        font-size: 15em;
    }
}

.container {
    @include flex-column;
    align-items: center;
    background-color: $light;
    border-radius: 15px;
    height: 45vh;
    justify-content: space-between;
    margin: 10px;
    max-width: 500px;
    padding: 40px 0 30px 0;

    .btn {
        background-color: $red;
        border-radius: 5em;
        border: none;
        color: $light;
        font-family: $body-font;
        font-size: 1.8rem;
        padding: 1em 7em;
        text-transform: capitalize;
    
        &:hover {
            background-color: $mid;
            color: $dark
        }
    }

    .text-container {
        @include flex-column;
        align-items: center;
    
        h1  {
            color: $dark;
            font-family: $title-font;
            font-size: 2.6rem;
            text-transform: capitalize;
        }
    
        p {
            color: $grey;
            font-family: $body-font;
            font-size: 1.6rem;
            margin-top: 15px;
            max-width: 20em;
            text-align: center;
        }
    }

    .btn-container {
        @include flex-column;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: underline;
            color: $dark;
            padding-top: 10px;
        }
    }
}

@media screen and (min-width: 500px) {
    .container {
        align-self: center;
        min-width: 500px;
    }
}